*.iml
.gradle
/AndroidVM/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
/AndroidVM/.idea
.DS_Store
/AndroidVM/build
/captures
.externalNativeBuild
/AndroidVM/gradle/wrapper/gradle-wrapper.jar
/AndroidVM/gradlew
/AndroidVM/gradlew.bat
/AndroidVM/smali/androidvm/
/AndroidVM/buildSrc/build
/AndroidVM/buildSrc/buildSrc.iml

